# Hw3_Harman_Singh_Pandas

## Task 0
### Completed By: Harman Singh

### Task 1. Import two libraries

In [8]:
# imports
import numpy as np
import pandas as pd

### Answer 1.

In [10]:
pd.__version__

'1.3.4'

### Task 2. Creating a DataFrame from reading in a file

In [11]:
statespopDF = pd.read_csv('census_statespop.csv')

### Answer 2.i.

In [317]:
statespopDF.head(n=10)

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
Alabama,South,4785437.0,4799069.0,4815588.0,4830081.0,4841799.0,4852347.0,4863525.0,4874486.0,4887681.0,4903185.0
Alaska,West,713910.0,722128.0,730443.0,737068.0,736283.0,737498.0,741456.0,739700.0,735139.0,731545.0
Arizona,West,6407172.0,6472643.0,6554978.0,6632764.0,6730413.0,6829676.0,6941072.0,7044008.0,7158024.0,7278717.0
Arkansas,South,2921964.0,2940667.0,2952164.0,2959400.0,2967392.0,2978048.0,2989918.0,3001345.0,3009733.0,3017804.0
California,West,37319502.0,37638369.0,37948800.0,38260787.0,38596972.0,38918045.0,39167117.0,39358497.0,39461588.0,39512223.0
Colorado,West,5047349.0,5121108.0,5192647.0,5269035.0,5350101.0,5450623.0,5539215.0,5611885.0,5691287.0,5758736.0
Connecticut,Northeast,3579114.0,3588283.0,3594547.0,3594841.0,3594524.0,3587122.0,3578141.0,3573297.0,3571520.0,3565287.0
Delaware,South,899593.0,907381.0,915179.0,923576.0,932487.0,941252.0,948921.0,956823.0,965479.0,973764.0
District of Columbia,NaN,605226.0,619800.0,634924.0,650581.0,662328.0,675400.0,685815.0,694906.0,701547.0,705749.0
Florida,South,18845537.0,19053237.0,19297822.0,19545621.0,19845911.0,20209042.0,20613477.0,20963613.0,21244317.0,21477737.0

### 2b. Now let us read in the file again, and specify some parameters.

In [25]:
statespopDF = pd.read_csv('census_statespop.csv', 
                         sep = ',',
                         header = 0,
                         names = ['Region'] + [i for i in range(10, 20)],
                          index_col = 0)
statespopDF.head(5)

,Region,10,11,12,13,14,15,16,17,18,19
Alabama,South,4785437.0,4799069.0,4815588.0,4830081.0,4841799.0,4852347.0,4863525.0,4874486.0,4887681.0,4903185.0
Alaska,West,713910.0,722128.0,730443.0,737068.0,736283.0,737498.0,741456.0,739700.0,735139.0,731545.0
Arizona,West,6407172.0,6472643.0,6554978.0,6632764.0,6730413.0,6829676.0,6941072.0,7044008.0,7158024.0,7278717.0
Arkansas,South,2921964.0,2940667.0,2952164.0,2959400.0,2967392.0,2978048.0,2989918.0,3001345.0,3009733.0,3017804.0
California,West,37319502.0,37638369.0,37948800.0,38260787.0,38596972.0,38918045.0,39167117.0,39358497.0,39461588.0,39512223.0

### Answer 2.ii

In [80]:
statespopDF = pd.read_csv('census_statespop.csv', 
                         sep = ',',
                         header = 0,
                         names = ['Region'] + ['y' + str(i) for i in range(2010, 2020)],
                          index_col = 0)
statespopDF.head(5)

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
Alabama,South,4785437.0,4799069.0,4815588.0,4830081.0,4841799.0,4852347.0,4863525.0,4874486.0,4887681.0,4903185.0
Alaska,West,713910.0,722128.0,730443.0,737068.0,736283.0,737498.0,741456.0,739700.0,735139.0,731545.0
Arizona,West,6407172.0,6472643.0,6554978.0,6632764.0,6730413.0,6829676.0,6941072.0,7044008.0,7158024.0,7278717.0
Arkansas,South,2921964.0,2940667.0,2952164.0,2959400.0,2967392.0,2978048.0,2989918.0,3001345.0,3009733.0,3017804.0
California,West,37319502.0,37638369.0,37948800.0,38260787.0,38596972.0,38918045.0,39167117.0,39358497.0,39461588.0,39512223.0

### Task 3. Understanding the data

### Answer 3.i.

In [31]:
# There are 54 rows and 11 columns in statespopDF
statespopDF.shape

(54, 11)

### Answer 3.ii.

In [35]:
### The datatype of the column labes is Object
statespopDF.columns.dtype

dtype('O')

### Task 4. Indexing DataFrames: selecting entire columns or row using column name or index label

### 4a. Selecting only on column(s)

In [39]:
statespopDF['Region'].head()

Alabama       South
Alaska         West
Arizona        West
Arkansas      South
California     West
Name: Region, dtype: object

In [42]:
statespopDF[['Region']].head()

           Region
Alabama     South
Alaska       West
Arizona      West
Arkansas    South
California   West

In [44]:
statespopDF[['Region', 'y2010', 'y2011']].head()

           Region       y2010       y2011
Alabama     South   4785437.0   4799069.0
Alaska       West    713910.0    722128.0
Arizona      West   6407172.0   6472643.0
Arkansas    South   2921964.0   2940667.0
California   West  37319502.0  37638369.0

### 4b. Label indexing: Selecting specific rows and columns using labels

In [49]:
statespopDF.loc['Georgia']
statespopDF.loc['Georgia', :]

Region         South
y2010      9711881.0
y2011      9802431.0
y2012      9901430.0
y2013      9972479.0
y2014     10067278.0
y2015     10178447.0
y2016     10301890.0
y2017     10410330.0
y2018     10511131.0
y2019     10617423.0
Name: Georgia, dtype: object

In [50]:
statespopDF.loc['Georgia': 'Minnesota']

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
Georgia,South,9711881.0,9802431.0,9901430.0,9972479.0,10067278.0,10178447.0,10301890.0,10410330.0,10511131.0,10617423.0
Hawaii,West,1363963.0,1379329.0,1394804.0,1408243.0,1414538.0,1422052.0,1427559.0,1424393.0,1420593.0,1415872.0
Idaho,West,1570746.0,1583910.0,1595324.0,1611206.0,1631112.0,1651059.0,1682380.0,1717715.0,1750536.0,1787065.0
Illinois,Midwest,12840503.0,12867454.0,12882510.0,12895129.0,12884493.0,12858913.0,12820527.0,12778828.0,12723071.0,12671821.0
Indiana,Midwest,6490432.0,6516528.0,6537703.0,6568713.0,6593644.0,6608422.0,6634304.0,6658078.0,6695497.0,6732219.0
Iowa,Midwest,3050745.0,3066336.0,3076190.0,3092997.0,3109350.0,3120960.0,3131371.0,3141550.0,3148618.0,3155070.0
Kansas,Midwest,2858190.0,2869225.0,2885257.0,2893212.0,2900475.0,2909011.0,2910844.0,2908718.0,2911359.0,2913314.0
Kentucky,South,4348181.0,4369821.0,4386346.0,4404659.0,4414349.0,4425976.0,4438182.0,4452268.0,4461153.0,4467673.0
Louisiana,South,4544532.0,4575625.0,4600972.0,4624527.0,4644013.0,4664628.0,4678135.0,4670560.0,4659690.0,4648794.0
Maine,Northeast,1327629.0,1328284.0,1327729.0,1328009.0,1330513.0,1328262.0,1331317.0,1334612.0,1339057.0,1344212.0
Maryland,South,5788645.0,5839419.0,5886992.0,5923188.0,5957283.0,5985562.0,6003323.0,6023868.0,6035802.0,6045680.0
Massachusetts,Northeast,6566307.0,6613583.0,6663005.0,6713315.0,6762596.0,6794228.0,6823608.0,6859789.0,6882635.0,6892503.0
Michigan,Midwest,9877510.0,9882412.0,9897145.0,9913065.0,9929848.0,9931715.0,9950571.0,9973114.0,9984072.0,9986857.0
Minnesota,Midwest,5310828.0,5346143.0,5376643.0,5413479.0,5451079.0,5482032.0,5522744.0,5566230.0,5606249.0,5639632.0

In [62]:
statespopDF.loc[:,['Region', 'y2015']]

                         Region       y2015
Alabama                   South   4852347.0
Alaska                     West    737498.0
Arizona                    West   6829676.0
Arkansas                  South   2978048.0
California                 West  38918045.0
Colorado                   West   5450623.0
Connecticut           Northeast   3587122.0
Delaware                  South    941252.0
District of Columbia        NaN    675400.0
Florida                   South  20209042.0
Georgia                   South  10178447.0
Hawaii                     West   1422052.0
Idaho                      West   1651059.0
Illinois                Midwest  12858913.0
Indiana                 Midwest   6608422.0
Iowa                    Midwest   3120960.0
Kansas                  Midwest   2909011.0
Kentucky                  South   4425976.0
Louisiana                 South   4664628.0
Maine                 Northeast   1328262.0
Maryland                  South   5985562.0
Massachusetts         Northeast   6794228.0
Michigan                Midwest   9931715.0
Minnesota               Midwest   5482032.0
Mississippi               South   2988471.0
Missouri                Midwest   6071732.0
Montana                    West   1030475.0
Nebraska                Midwest   1891277.0
Nevada                     West   2866939.0
New Hampshire         Northeast   1336350.0
New Jersey            Northeast   8867949.0
New Mexico                 West   2089291.0
New York              Northeast  19654666.0
North Carolina            South  10031646.0
North Dakota            Midwest    754066.0
Ohio                    Midwest  11617527.0
Oklahoma                  South   3909500.0
Oregon                     West   4015792.0
Pennsylvania          Northeast  12784826.0
Rhode Island          Northeast   1056065.0
South Carolina            South   4891938.0
South Dakota            Midwest    853988.0
Tennessee                 South   6591170.0
Texas                     South  27470056.0
Utah                       West   2981835.0
Vermont               Northeast    625216.0
Virginia                  South   8361808.0
Washington                 West   7163657.0
West Virginia             South   1842050.0
Wisconsin               Midwest   5760940.0
Wyoming                    West    585613.0
NaN                         NaN         NaN
Puerto Rico                 NaN   3473232.0
Hawaii                     West   1422052.0

### Answer 4.i

In [71]:
statespopDF.loc[:,'y2011':'y2020': 2].head(5)

                 y2011       y2013       y2015       y2017       y2019
Alabama      4799069.0   4830081.0   4852347.0   4874486.0   4903185.0
Alaska        722128.0    737068.0    737498.0    739700.0    731545.0
Arizona      6472643.0   6632764.0   6829676.0   7044008.0   7278717.0
Arkansas     2940667.0   2959400.0   2978048.0   3001345.0   3017804.0
California  37638369.0  38260787.0  38918045.0  39358497.0  39512223.0

### Answer 4.ii

In [70]:
statespopDF.loc['Georgia':'Minnesota','y2012':'y2015']

                    y2012       y2013       y2014       y2015
Georgia         9901430.0   9972479.0  10067278.0  10178447.0
Hawaii          1394804.0   1408243.0   1414538.0   1422052.0
Idaho           1595324.0   1611206.0   1631112.0   1651059.0
Illinois       12882510.0  12895129.0  12884493.0  12858913.0
Indiana         6537703.0   6568713.0   6593644.0   6608422.0
Iowa            3076190.0   3092997.0   3109350.0   3120960.0
Kansas          2885257.0   2893212.0   2900475.0   2909011.0
Kentucky        4386346.0   4404659.0   4414349.0   4425976.0
Louisiana       4600972.0   4624527.0   4644013.0   4664628.0
Maine           1327729.0   1328009.0   1330513.0   1328262.0
Maryland        5886992.0   5923188.0   5957283.0   5985562.0
Massachusetts   6663005.0   6713315.0   6762596.0   6794228.0
Michigan        9897145.0   9913065.0   9929848.0   9931715.0
Minnesota       5376643.0   5413479.0   5451079.0   5482032.0

### Answer 4.iii

In [69]:
statespopDF.loc[['Georgia','Utah', 'Indiana'],'y2012':'y2016':2]

             y2012       y2014       y2016
Georgia  9901430.0  10067278.0  10301890.0
Utah     2853375.0   2936879.0   3041868.0
Indiana  6537703.0   6593644.0   6634304.0

### 4c. Integer indexing: Selecting specific rows and columns using int index

In [73]:
statespopDF.iloc[0]

Region        South
y2010     4785437.0
y2011     4799069.0
y2012     4815588.0
y2013     4830081.0
y2014     4841799.0
y2015     4852347.0
y2016     4863525.0
y2017     4874486.0
y2018     4887681.0
y2019     4903185.0
Name: Alabama, dtype: object

In [87]:
statespopDF.iloc[0, :]

Region        South
y2010     4785437.0
y2011     4799069.0
y2012     4815588.0
y2013     4830081.0
y2014     4841799.0
y2015     4852347.0
y2016     4863525.0
y2017     4874486.0
y2018     4887681.0
y2019     4903185.0
Name: Alabama, dtype: object

In [90]:
statespopDF.iloc[: , 0].head()

Alabama       South
Alaska         West
Arizona        West
Arkansas      South
California     West
Name: Region, dtype: object

In [91]:
statespopDF.iloc[: , 1::2].head()

                 y2010       y2012       y2014       y2016       y2018
Alabama      4785437.0   4815588.0   4841799.0   4863525.0   4887681.0
Alaska        713910.0    730443.0    736283.0    741456.0    735139.0
Arizona      6407172.0   6554978.0   6730413.0   6941072.0   7158024.0
Arkansas     2921964.0   2952164.0   2967392.0   2989918.0   3009733.0
California  37319502.0  37948800.0  38596972.0  39167117.0  39461588.0

In [92]:
statespopDF.iloc[[0,2] , [3,5]].head()

             y2012      y2014
Alabama  4815588.0  4841799.0
Arizona  6554978.0  6730413.0

### Answer 4.iv.

In [93]:
statespopDF.iloc[1::2, :]

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
Alaska,West,713910.0,722128.0,730443.0,737068.0,736283.0,737498.0,741456.0,739700.0,735139.0,731545.0
Arkansas,South,2921964.0,2940667.0,2952164.0,2959400.0,2967392.0,2978048.0,2989918.0,3001345.0,3009733.0,3017804.0
Colorado,West,5047349.0,5121108.0,5192647.0,5269035.0,5350101.0,5450623.0,5539215.0,5611885.0,5691287.0,5758736.0
Delaware,South,899593.0,907381.0,915179.0,923576.0,932487.0,941252.0,948921.0,956823.0,965479.0,973764.0
Florida,South,18845537.0,19053237.0,19297822.0,19545621.0,19845911.0,20209042.0,20613477.0,20963613.0,21244317.0,21477737.0
Hawaii,West,1363963.0,1379329.0,1394804.0,1408243.0,1414538.0,1422052.0,1427559.0,1424393.0,1420593.0,1415872.0
Illinois,Midwest,12840503.0,12867454.0,12882510.0,12895129.0,12884493.0,12858913.0,12820527.0,12778828.0,12723071.0,12671821.0
Iowa,Midwest,3050745.0,3066336.0,3076190.0,3092997.0,3109350.0,3120960.0,3131371.0,3141550.0,3148618.0,3155070.0
Kentucky,South,4348181.0,4369821.0,4386346.0,4404659.0,4414349.0,4425976.0,4438182.0,4452268.0,4461153.0,4467673.0
Maine,Northeast,1327629.0,1328284.0,1327729.0,1328009.0,1330513.0,1328262.0,1331317.0,1334612.0,1339057.0,1344212.0
Massachusetts,Northeast,6566307.0,6613583.0,6663005.0,6713315.0,6762596.0,6794228.0,6823608.0,6859789.0,6882635.0,6892503.0
Minnesota,Midwest,5310828.0,5346143.0,5376643.0,5413479.0,5451079.0,5482032.0,5522744.0,5566230.0,5606249.0,5639632.0
Missouri,Midwest,5995974.0,6010275.0,6024367.0,6040715.0,6056202.0,6071732.0,6087135.0,6106670.0,6121623.0,6137428.0
Nebraska,Midwest,1829542.0,1840672.0,1853303.0,1865279.0,1879321.0,1891277.0,1905616.0,1915947.0,1925614.0,1934408.0
New Hampshire,Northeast,1316762.0,1320202.0,1324232.0,1326622.0,1333341.0,1336350.0,1342307.0,1348787.0,1353465.0,1359711.0
New Mexico,West,2064552.0,2080450.0,2087309.0,2092273.0,2089568.0,2089291.0,2091630.0,2091784.0,2092741.0,2096829.0
North Carolina,South,9574323.0,9657592.0,9749476.0,9843336.0,9932887.0,10031646.0,10154788.0,10268233.0,10381615.0,10488084.0
Ohio,Midwest,11539336.0,11544663.0,11548923.0,11576684.0,11602700.0,11617527.0,11634370.0,11659650.0,11676341.0,11689100.0
Oregon,West,3837491.0,3872036.0,3899001.0,3922468.0,3963244.0,4015792.0,4089976.0,4143625.0,4181886.0,4217737.0
Rhode Island,Northeast,1053959.0,1053649.0,1054621.0,1055081.0,1055936.0,1056065.0,1056770.0,1055673.0,1058287.0,1059361.0
South Dakota,Midwest,816166.0,823579.0,833566.0,842316.0,849129.0,853988.0,862996.0,872868.0,878698.0,884659.0
Texas,South,25241971.0,25645629.0,26084481.0,26480266.0,26964333.0,27470056.0,27914410.0,28295273.0,28628666.0,28995881.0
Vermont,Northeast,625879.0,627049.0,626090.0,626210.0,625214.0,625216.0,623657.0,624344.0,624358.0,623989.0
Washington,West,6742830.0,6826627.0,6897058.0,6963985.0,7054655.0,7163657.0,7294771.0,7423362.0,7523869.0,7614893.0
Wisconsin,Midwest,5690475.0,5705288.0,5719960.0,5736754.0,5751525.0,5760940.0,5772628.0,5790186.0,5807406.0,5822434.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hawaii,West,1363963.0,1379329.0,1394804.0,1408243.0,1414538.0,1422052.0,1427559.0,1424393.0,1420593.0,1415872.0

### Task 5. Cleaning and pre-processing the data

In [94]:
statespopDF.isnull().any()

Region    True
y2010     True
y2011     True
y2012     True
y2013     True
y2014     True
y2015     True
y2016     True
y2017     True
y2018     True
y2019     True
dtype: bool

In [96]:
statespopDF.isnull().any(axis = 0)

Region    True
y2010     True
y2011     True
y2012     True
y2013     True
y2014     True
y2015     True
y2016     True
y2017     True
y2018     True
y2019     True
dtype: bool

### Answer 5.i.

In [99]:
# zero columns have all null values
statespopDF.isnull().all()

Region    False
y2010     False
y2011     False
y2012     False
y2013     False
y2014     False
y2015     False
y2016     False
y2017     False
y2018     False
y2019     False
dtype: bool

### Answer 5.ii

In [103]:
statespopDF.count(axis = 1)

Alabama                 11
Alaska                  11
Arizona                 11
Arkansas                11
California              11
Colorado                11
Connecticut             11
Delaware                11
District of Columbia    10
Florida                 11
Georgia                 11
Hawaii                  11
Idaho                   11
Illinois                11
Indiana                 11
Iowa                    11
Kansas                  11
Kentucky                11
Louisiana               11
Maine                   11
Maryland                11
Massachusetts           11
Michigan                11
Minnesota               11
Mississippi             11
Missouri                11
Montana                 11
Nebraska                11
Nevada                  11
New Hampshire           11
New Jersey              11
New Mexico              11
New York                11
North Carolina          11
North Dakota            11
Ohio                    11
Oklahoma                11
Oregon                  11
Pennsylvania            11
Rhode Island            11
South Carolina          11
South Dakota            11
Tennessee               11
Texas                   11
Utah                    11
Vermont                 11
Virginia                11
Washington              11
West Virginia           11
Wisconsin               11
Wyoming                 11
NaN                      0
Puerto Rico             10
Hawaii                  11
dtype: int64

### 5c. Drop rows (or columns) that are null throughout

In [102]:
statespopDF.loc[statespopDF.isnull().all(axis = 1)]

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [105]:
statespopDF.loc[:, statespopDF.isnull().all(axis = 0)]

Empty DataFrame
Columns: []
Index: [Alabama, Alaska, Arizona, Arkansas, California, Colorado, Connecticut, Delaware, District of Columbia, Florida, Georgia, Hawaii, Idaho, Illinois, Indiana, Iowa, Kansas, Kentucky, Louisiana, Maine, Maryland, Massachusetts, Michigan, Minnesota, Mississippi, Missouri, Montana, Nebraska, Nevada, New Hampshire, New Jersey, New Mexico, New York, North Carolina, North Dakota, Ohio, Oklahoma, Oregon, Pennsylvania, Rhode Island, South Carolina, South Dakota, Tennessee, Texas, Utah, Vermont, Virginia, Washington, West Virginia, Wisconsin, Wyoming, nan, Puerto Rico, Hawaii]

In [112]:
statespopDF_dropna = statespopDF.dropna(axis = 0, how = 'all')
statespopDF_dropna

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
Alabama,South,4785437.0,4799069.0,4815588.0,4830081.0,4841799.0,4852347.0,4863525.0,4874486.0,4887681.0,4903185.0
Alaska,West,713910.0,722128.0,730443.0,737068.0,736283.0,737498.0,741456.0,739700.0,735139.0,731545.0
Arizona,West,6407172.0,6472643.0,6554978.0,6632764.0,6730413.0,6829676.0,6941072.0,7044008.0,7158024.0,7278717.0
Arkansas,South,2921964.0,2940667.0,2952164.0,2959400.0,2967392.0,2978048.0,2989918.0,3001345.0,3009733.0,3017804.0
California,West,37319502.0,37638369.0,37948800.0,38260787.0,38596972.0,38918045.0,39167117.0,39358497.0,39461588.0,39512223.0
Colorado,West,5047349.0,5121108.0,5192647.0,5269035.0,5350101.0,5450623.0,5539215.0,5611885.0,5691287.0,5758736.0
Connecticut,Northeast,3579114.0,3588283.0,3594547.0,3594841.0,3594524.0,3587122.0,3578141.0,3573297.0,3571520.0,3565287.0
Delaware,South,899593.0,907381.0,915179.0,923576.0,932487.0,941252.0,948921.0,956823.0,965479.0,973764.0
District of Columbia,NaN,605226.0,619800.0,634924.0,650581.0,662328.0,675400.0,685815.0,694906.0,701547.0,705749.0
Florida,South,18845537.0,19053237.0,19297822.0,19545621.0,19845911.0,20209042.0,20613477.0,20963613.0,21244317.0,21477737.0
Georgia,South,9711881.0,9802431.0,9901430.0,9972479.0,10067278.0,10178447.0,10301890.0,10410330.0,10511131.0,10617423.0
Hawaii,West,1363963.0,1379329.0,1394804.0,1408243.0,1414538.0,1422052.0,1427559.0,1424393.0,1420593.0,1415872.0
Idaho,West,1570746.0,1583910.0,1595324.0,1611206.0,1631112.0,1651059.0,1682380.0,1717715.0,1750536.0,1787065.0
Illinois,Midwest,12840503.0,12867454.0,12882510.0,12895129.0,12884493.0,12858913.0,12820527.0,12778828.0,12723071.0,12671821.0
Indiana,Midwest,6490432.0,6516528.0,6537703.0,6568713.0,6593644.0,6608422.0,6634304.0,6658078.0,6695497.0,6732219.0
Iowa,Midwest,3050745.0,3066336.0,3076190.0,3092997.0,3109350.0,3120960.0,3131371.0,3141550.0,3148618.0,3155070.0
Kansas,Midwest,2858190.0,2869225.0,2885257.0,2893212.0,2900475.0,2909011.0,2910844.0,2908718.0,2911359.0,2913314.0
Kentucky,South,4348181.0,4369821.0,4386346.0,4404659.0,4414349.0,4425976.0,4438182.0,4452268.0,4461153.0,4467673.0
Louisiana,South,4544532.0,4575625.0,4600972.0,4624527.0,4644013.0,4664628.0,4678135.0,4670560.0,4659690.0,4648794.0
Maine,Northeast,1327629.0,1328284.0,1327729.0,1328009.0,1330513.0,1328262.0,1331317.0,1334612.0,1339057.0,1344212.0
Maryland,South,5788645.0,5839419.0,5886992.0,5923188.0,5957283.0,5985562.0,6003323.0,6023868.0,6035802.0,6045680.0
Massachusetts,Northeast,6566307.0,6613583.0,6663005.0,6713315.0,6762596.0,6794228.0,6823608.0,6859789.0,6882635.0,6892503.0
Michigan,Midwest,9877510.0,9882412.0,9897145.0,9913065.0,9929848.0,9931715.0,9950571.0,9973114.0,9984072.0,9986857.0
Minnesota,Midwest,5310828.0,5346143.0,5376643.0,5413479.0,5451079.0,5482032.0,5522744.0,5566230.0,5606249.0,5639632.0
Mississippi,South,2970548.0,2978731.0,2983816.0,2988711.0,2990468.0,2988471.0,2987938.0,2988510.0,2981020.0,2976149.0
Missouri,Midwest,5995974.0,6010275.0,6024367.0,6040715.0,6056202.0,6071732.0,6087135.0,6106670.0,6121623.0,6137428.0
Montana,West,990697.0,997316.0,1003783.0,1013569.0,1021869.0,1030475.0,1040859.0,1052482.0,1060665.0,1068778.0
Nebraska,Midwest,1829542.0,1840672.0,1853303.0,1865279.0,1879321.0,1891277.0,1905616.0,1915947.0,1925614.0,1934408.0
Nevada,West,2702405.0,2712730.0,2743996.0,2775970.0,2817628.0,2866939.0,2917563.0,2969905.0,3027341.0,3080156.0
New Hampshire,Northeast,1316762.0,1320202.0,1324232.0,1326622.0,1333341.0,1336350.0,1342307.0,1348787.0,1353465.0,1359711.0
New Jersey,Northeast,8799446.0,8828117.0,8844942.0,8856972.0,8864525.0,8867949.0,8870827.0,8885525.0,8886025.0,8882190.0
New Mexico,West,2064552.0,2080450.0,2087309.0,2092273.0,2089568.0,2089291.0,2091630.0,2091784.0,2092741.0,2096829.0
New York,Northeast,19399878.0,19499241.0,19572932.0,19624447.0,19651049.0,19654666.0,19633428.0,19589572.0,19530351.0,19453561.0
North Carolina,South,9574323.0,9657592.0,9749476.0,9843336.0,9932887.0,10031646.0,10154788.0,10268233.0,10381615.0,10488084.0
North Dakota,Midwest,674715.0,685225.0,701176.0,722036.0,737401.0,754066.0,754434.0,754942.0,758080.0,762062.0
Ohio,Midwest,11539336.0,11544663.0,11548923.0,11576684.0,11602700.0,11617527.0,11634370.0,11659650.0,11676341.0,11689100.0
Oklahoma,South,3759944.0,3788379.0,3818814.0,3853214.0,3878187.0,3909500.0,3926331.0,3931316.0,3940235.0,3956971.0
Oregon,West,3837491.0,3872036.0,3899001.0,3922468.0,3963244.0,4015792.0,4089976.0,4143625.0,4181886.0,4217737.0
Pennsylvania,Northeast,12711160.0,12745815.0,12767118.0,12776309.0,12788313.0,12784826.0,12782275.0,12787641.0,12800922.0,12801989.0
Rhode Island,Northeast,1053959.0,1053649.0,1054621.0,1055081.0,1055936.0,1056065.0,1056770.0,1055673.0,1058287.0,1059361.0
South Carolina,South,4635649.0,4671994.0,4717354.0,4764080.0,4823617.0,4891938.0,4957968.0,5021268.0,5084156.0,5148714.0
South Dakota,Midwest,816166.0,823579.0,833566.0,842316.0,849129.0,853988.0,862996.0,872868.0,878698.0,884659.0
Tennessee,South,6355311.0,6399291.0,6453898.0,6494340.0,6541223.0,6591170.0,6646010.0,6708799.0,6771631.0,6829174.0
Texas,South,25241971.0,25645629.0,26084481.0,26480266.0,26964333.0,27470056.0,27914410.0,28295273.0,28628666.0,28995881.0
Utah,West,2775332.0,2814384.0,2853375.0,2897640.0,2936879.0,2981835.0,3041868.0,3101042.0,3153550.0,3205958.0
Vermont,Northeast,625879.0,627049.0,626090.0,626210.0,625214.0,625216.0,623657.0,624344.0,624358.0,623989.0
Virginia,South,8023699.0,8101155.0,8185080.0,8252427.0,8310993.0,8361808.0,8410106.0,8463587.0,8501286.0,8535519.0
Washington,West,6742830.0,6826627.0,6897058.0,6963985.0,7054655.0,7163657.0,7294771.0,7423362.0,7523869.0,7614893.0
West Virginia,South,1854239.0,1856301.0,1856872.0,1853914.0,1849489.0,1842050.0,1831023.0,1817004.0,1804291.0,1792147.0
Wisconsin,Midwest,5690475.0,5705288.0,5719960.0,5736754.0,5751525.0,5760940.0,5772628.0,5790186.0,5807406.0,5822434.0
Wyoming,West,564487.0,567299.0,576305.0,582122.0,582531.0,585613.0,584215.0,578931.0,577601.0,578759.0
Puerto Rico,NaN,3721525.0,3678732.0,3634488.0,3593077.0,3534874.0,3473232.0,3406672.0,3325286.0,3193354.0,3193694.0
Hawaii,West,1363963.0,1379329.0,1394804.0,1408243.0,1414538.0,1422052.0,1427559.0,1424393.0,1420593.0,1415872.0

### 5d. Frequency counts of unique values in rows

In [114]:
statespopDF_dropna['Region'].unique()

array(['South', 'West', 'Northeast', nan, 'Midwest'], dtype=object)

In [116]:
statespopDF_dropna['Region'].value_counts()

South        16
West         14
Midwest      12
Northeast     9
Name: Region, dtype: int64

### Answer 5.iii

In [117]:
statespopDF_dropna['Region'].value_counts(normalize = True)*100

South        31.372549
West         27.450980
Midwest      23.529412
Northeast    17.647059
Name: Region, dtype: float64

### 5e. Determine and remove duplicate rows

In [109]:
statespopDF_dropna.duplicated().value_counts()

False    52
True      1
dtype: int64

In [119]:
statespopDF_dropnaup = statespopDF_dropna.drop_duplicates(keep = 'first', inplace = False)
statespopDF_dropnaup

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
Alabama,South,4785437.0,4799069.0,4815588.0,4830081.0,4841799.0,4852347.0,4863525.0,4874486.0,4887681.0,4903185.0
Alaska,West,713910.0,722128.0,730443.0,737068.0,736283.0,737498.0,741456.0,739700.0,735139.0,731545.0
Arizona,West,6407172.0,6472643.0,6554978.0,6632764.0,6730413.0,6829676.0,6941072.0,7044008.0,7158024.0,7278717.0
Arkansas,South,2921964.0,2940667.0,2952164.0,2959400.0,2967392.0,2978048.0,2989918.0,3001345.0,3009733.0,3017804.0
California,West,37319502.0,37638369.0,37948800.0,38260787.0,38596972.0,38918045.0,39167117.0,39358497.0,39461588.0,39512223.0
Colorado,West,5047349.0,5121108.0,5192647.0,5269035.0,5350101.0,5450623.0,5539215.0,5611885.0,5691287.0,5758736.0
Connecticut,Northeast,3579114.0,3588283.0,3594547.0,3594841.0,3594524.0,3587122.0,3578141.0,3573297.0,3571520.0,3565287.0
Delaware,South,899593.0,907381.0,915179.0,923576.0,932487.0,941252.0,948921.0,956823.0,965479.0,973764.0
District of Columbia,NaN,605226.0,619800.0,634924.0,650581.0,662328.0,675400.0,685815.0,694906.0,701547.0,705749.0
Florida,South,18845537.0,19053237.0,19297822.0,19545621.0,19845911.0,20209042.0,20613477.0,20963613.0,21244317.0,21477737.0
Georgia,South,9711881.0,9802431.0,9901430.0,9972479.0,10067278.0,10178447.0,10301890.0,10410330.0,10511131.0,10617423.0
Hawaii,West,1363963.0,1379329.0,1394804.0,1408243.0,1414538.0,1422052.0,1427559.0,1424393.0,1420593.0,1415872.0
Idaho,West,1570746.0,1583910.0,1595324.0,1611206.0,1631112.0,1651059.0,1682380.0,1717715.0,1750536.0,1787065.0
Illinois,Midwest,12840503.0,12867454.0,12882510.0,12895129.0,12884493.0,12858913.0,12820527.0,12778828.0,12723071.0,12671821.0
Indiana,Midwest,6490432.0,6516528.0,6537703.0,6568713.0,6593644.0,6608422.0,6634304.0,6658078.0,6695497.0,6732219.0
Iowa,Midwest,3050745.0,3066336.0,3076190.0,3092997.0,3109350.0,3120960.0,3131371.0,3141550.0,3148618.0,3155070.0
Kansas,Midwest,2858190.0,2869225.0,2885257.0,2893212.0,2900475.0,2909011.0,2910844.0,2908718.0,2911359.0,2913314.0
Kentucky,South,4348181.0,4369821.0,4386346.0,4404659.0,4414349.0,4425976.0,4438182.0,4452268.0,4461153.0,4467673.0
Louisiana,South,4544532.0,4575625.0,4600972.0,4624527.0,4644013.0,4664628.0,4678135.0,4670560.0,4659690.0,4648794.0
Maine,Northeast,1327629.0,1328284.0,1327729.0,1328009.0,1330513.0,1328262.0,1331317.0,1334612.0,1339057.0,1344212.0
Maryland,South,5788645.0,5839419.0,5886992.0,5923188.0,5957283.0,5985562.0,6003323.0,6023868.0,6035802.0,6045680.0
Massachusetts,Northeast,6566307.0,6613583.0,6663005.0,6713315.0,6762596.0,6794228.0,6823608.0,6859789.0,6882635.0,6892503.0
Michigan,Midwest,9877510.0,9882412.0,9897145.0,9913065.0,9929848.0,9931715.0,9950571.0,9973114.0,9984072.0,9986857.0
Minnesota,Midwest,5310828.0,5346143.0,5376643.0,5413479.0,5451079.0,5482032.0,5522744.0,5566230.0,5606249.0,5639632.0
Mississippi,South,2970548.0,2978731.0,2983816.0,2988711.0,2990468.0,2988471.0,2987938.0,2988510.0,2981020.0,2976149.0
Missouri,Midwest,5995974.0,6010275.0,6024367.0,6040715.0,6056202.0,6071732.0,6087135.0,6106670.0,6121623.0,6137428.0
Montana,West,990697.0,997316.0,1003783.0,1013569.0,1021869.0,1030475.0,1040859.0,1052482.0,1060665.0,1068778.0
Nebraska,Midwest,1829542.0,1840672.0,1853303.0,1865279.0,1879321.0,1891277.0,1905616.0,1915947.0,1925614.0,1934408.0
Nevada,West,2702405.0,2712730.0,2743996.0,2775970.0,2817628.0,2866939.0,2917563.0,2969905.0,3027341.0,3080156.0
New Hampshire,Northeast,1316762.0,1320202.0,1324232.0,1326622.0,1333341.0,1336350.0,1342307.0,1348787.0,1353465.0,1359711.0
New Jersey,Northeast,8799446.0,8828117.0,8844942.0,8856972.0,8864525.0,8867949.0,8870827.0,8885525.0,8886025.0,8882190.0
New Mexico,West,2064552.0,2080450.0,2087309.0,2092273.0,2089568.0,2089291.0,2091630.0,2091784.0,2092741.0,2096829.0
New York,Northeast,19399878.0,19499241.0,19572932.0,19624447.0,19651049.0,19654666.0,19633428.0,19589572.0,19530351.0,19453561.0
North Carolina,South,9574323.0,9657592.0,9749476.0,9843336.0,9932887.0,10031646.0,10154788.0,10268233.0,10381615.0,10488084.0
North Dakota,Midwest,674715.0,685225.0,701176.0,722036.0,737401.0,754066.0,754434.0,754942.0,758080.0,762062.0
Ohio,Midwest,11539336.0,11544663.0,11548923.0,11576684.0,11602700.0,11617527.0,11634370.0,11659650.0,11676341.0,11689100.0
Oklahoma,South,3759944.0,3788379.0,3818814.0,3853214.0,3878187.0,3909500.0,3926331.0,3931316.0,3940235.0,3956971.0
Oregon,West,3837491.0,3872036.0,3899001.0,3922468.0,3963244.0,4015792.0,4089976.0,4143625.0,4181886.0,4217737.0
Pennsylvania,Northeast,12711160.0,12745815.0,12767118.0,12776309.0,12788313.0,12784826.0,12782275.0,12787641.0,12800922.0,12801989.0
Rhode Island,Northeast,1053959.0,1053649.0,1054621.0,1055081.0,1055936.0,1056065.0,1056770.0,1055673.0,1058287.0,1059361.0
South Carolina,South,4635649.0,4671994.0,4717354.0,4764080.0,4823617.0,4891938.0,4957968.0,5021268.0,5084156.0,5148714.0
South Dakota,Midwest,816166.0,823579.0,833566.0,842316.0,849129.0,853988.0,862996.0,872868.0,878698.0,884659.0
Tennessee,South,6355311.0,6399291.0,6453898.0,6494340.0,6541223.0,6591170.0,6646010.0,6708799.0,6771631.0,6829174.0
Texas,South,25241971.0,25645629.0,26084481.0,26480266.0,26964333.0,27470056.0,27914410.0,28295273.0,28628666.0,28995881.0
Utah,West,2775332.0,2814384.0,2853375.0,2897640.0,2936879.0,2981835.0,3041868.0,3101042.0,3153550.0,3205958.0
Vermont,Northeast,625879.0,627049.0,626090.0,626210.0,625214.0,625216.0,623657.0,624344.0,624358.0,623989.0
Virginia,South,8023699.0,8101155.0,8185080.0,8252427.0,8310993.0,8361808.0,8410106.0,8463587.0,8501286.0,8535519.0
Washington,West,6742830.0,6826627.0,6897058.0,6963985.0,7054655.0,7163657.0,7294771.0,7423362.0,7523869.0,7614893.0
West Virginia,South,1854239.0,1856301.0,1856872.0,1853914.0,1849489.0,1842050.0,1831023.0,1817004.0,1804291.0,1792147.0
Wisconsin,Midwest,5690475.0,5705288.0,5719960.0,5736754.0,5751525.0,5760940.0,5772628.0,5790186.0,5807406.0,5822434.0
Wyoming,West,564487.0,567299.0,576305.0,582122.0,582531.0,585613.0,584215.0,578931.0,577601.0,578759.0
Puerto Rico,NaN,3721525.0,3678732.0,3634488.0,3593077.0,3534874.0,3473232.0,3406672.0,3325286.0,3193354.0,3193694.0

### Answer 5.iv.

In [121]:
# The shape of statespopDF_dropnaup is (52, 11)
statespopDF_dropnaup.shape

(52, 11)

### Task 6. Create a deep copy and save to a file

In [123]:
popDF = statespopDF_dropnaup.copy()
popDF

In [318]:
popDF.to_csv('popDF.csv', header = True, index = True)

### Answer 6.i

In [150]:
### True

### Answer 6.ii

In [127]:
### header = True is used to indicate that column labels are included in the first row

### 6c. Read the data back from the file and change dtype of some columns

In [129]:
popDF = popDF.astype({
    'y2019':int,
    'y2018':int,
    'y2017':int,
    'y2016':int,
    'y2015':int,
    'y2014':int,
    'y2013':int,
    'y2012':int,
    'y2011':int,
    'y2010':int
})

In [131]:
popDF.dtypes

Region    object
y2010      int32
y2011      int32
y2012      int32
y2013      int32
y2014      int32
y2015      int32
y2016      int32
y2017      int32
y2018      int32
y2019      int32
dtype: object

### Task 7. Indexing based on conditions

### 7a. Boolean Indexing with comparison operators

In [170]:
popDF.loc[popDF['y2019']>10000000]

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
California,West,37319502,37638369,37948800,38260787,38596972,38918045,39167117,39358497,39461588,39512223
Florida,South,18845537,19053237,19297822,19545621,19845911,20209042,20613477,20963613,21244317,21477737
Georgia,South,9711881,9802431,9901430,9972479,10067278,10178447,10301890,10410330,10511131,10617423
Illinois,Midwest,12840503,12867454,12882510,12895129,12884493,12858913,12820527,12778828,12723071,12671821
New York,Northeast,19399878,19499241,19572932,19624447,19651049,19654666,19633428,19589572,19530351,19453561
North Carolina,South,9574323,9657592,9749476,9843336,9932887,10031646,10154788,10268233,10381615,10488084
Ohio,Midwest,11539336,11544663,11548923,11576684,11602700,11617527,11634370,11659650,11676341,11689100
Pennsylvania,Northeast,12711160,12745815,12767118,12776309,12788313,12784826,12782275,12787641,12800922,12801989
Texas,South,25241971,25645629,26084481,26480266,26964333,27470056,27914410,28295273,28628666,28995881

### Answer 7.i

In [169]:
popDF.loc[popDF['Region'] == 'South', ['Region','y2018', 'y2019']]

               Region     y2018     y2019
Alabama         South   4887681   4903185
Arkansas        South   3009733   3017804
Delaware        South    965479    973764
Florida         South  21244317  21477737
Georgia         South  10511131  10617423
Kentucky        South   4461153   4467673
Louisiana       South   4659690   4648794
Maryland        South   6035802   6045680
Mississippi     South   2981020   2976149
North Carolina  South  10381615  10488084
Oklahoma        South   3940235   3956971
South Carolina  South   5084156   5148714
Tennessee       South   6771631   6829174
Texas           South  28628666  28995881
Virginia        South   8501286   8535519
West Virginia   South   1804291   1792147

### Answer 7.ii

In [171]:
popDF.loc[(popDF['y2019'] > 10000000) & (popDF['y2019'] < 20000000), ['Region','y2018', 'y2019']]

                   Region     y2018     y2019
Georgia             South  10511131  10617423
Illinois          Midwest  12723071  12671821
New York        Northeast  19530351  19453561
North Carolina      South  10381615  10488084
Ohio              Midwest  11676341  11689100
Pennsylvania    Northeast  12800922  12801989

### 7b. Using Series.isin() method

In [176]:
popDF.loc[popDF['Region'].isin(['Midwest']), ['Region', 'y2010', 'y2019']]

               Region     y2010     y2019
Illinois      Midwest  12840503  12671821
Indiana       Midwest   6490432   6732219
Iowa          Midwest   3050745   3155070
Kansas        Midwest   2858190   2913314
Michigan      Midwest   9877510   9986857
Minnesota     Midwest   5310828   5639632
Missouri      Midwest   5995974   6137428
Nebraska      Midwest   1829542   1934408
North Dakota  Midwest    674715    762062
Ohio          Midwest  11539336  11689100
South Dakota  Midwest    816166    884659
Wisconsin     Midwest   5690475   5822434

In [177]:
popDF.loc[popDF.index.isin(['Connecticut'])]

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
Connecticut,Northeast,3579114,3588283,3594547,3594841,3594524,3587122,3578141,3573297,3571520,3565287

### Answer 7.iii

In [189]:
popDF.loc[(popDF['Region'].isin(['Northeast'])) & (popDF['y2019'] > 10000000),'y2019']

New York        19453561
Pennsylvania    12801989
Name: y2019, dtype: int32

### 7c. Using DF.filter() method

In [195]:
popDF.filter(like = "New", axis = 0)

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
New Hampshire,Northeast,1316762,1320202,1324232,1326622,1333341,1336350,1342307,1348787,1353465,1359711
New Jersey,Northeast,8799446,8828117,8844942,8856972,8864525,8867949,8870827,8885525,8886025,8882190
New Mexico,West,2064552,2080450,2087309,2092273,2089568,2089291,2091630,2091784,2092741,2096829
New York,Northeast,19399878,19499241,19572932,19624447,19651049,19654666,19633428,19589572,19530351,19453561

In [196]:
popDF.filter(items = ["Utah", 'Colorado', 'Arizona'], axis = 0)

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
Utah,West,2775332,2814384,2853375,2897640,2936879,2981835,3041868,3101042,3153550,3205958
Colorado,West,5047349,5121108,5192647,5269035,5350101,5450623,5539215,5611885,5691287,5758736
Arizona,West,6407172,6472643,6554978,6632764,6730413,6829676,6941072,7044008,7158024,7278717

In [200]:
popDF.loc[popDF.index.str.startswith("New")]

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
New Hampshire,Northeast,1316762,1320202,1324232,1326622,1333341,1336350,1342307,1348787,1353465,1359711
New Jersey,Northeast,8799446,8828117,8844942,8856972,8864525,8867949,8870827,8885525,8886025,8882190
New Mexico,West,2064552,2080450,2087309,2092273,2089568,2089291,2091630,2091784,2092741,2096829
New York,Northeast,19399878,19499241,19572932,19624447,19651049,19654666,19633428,19589572,19530351,19453561

### Answer 7.iv

In [204]:
popDF.loc[popDF.index.str.startswith('G') | popDF.index.str.startswith('H') | popDF.index.str.startswith('I')]

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
Georgia,South,9711881,9802431,9901430,9972479,10067278,10178447,10301890,10410330,10511131,10617423
Hawaii,West,1363963,1379329,1394804,1408243,1414538,1422052,1427559,1424393,1420593,1415872
Idaho,West,1570746,1583910,1595324,1611206,1631112,1651059,1682380,1717715,1750536,1787065
Illinois,Midwest,12840503,12867454,12882510,12895129,12884493,12858913,12820527,12778828,12723071,12671821
Indiana,Midwest,6490432,6516528,6537703,6568713,6593644,6608422,6634304,6658078,6695497,6732219
Iowa,Midwest,3050745,3066336,3076190,3092997,3109350,3120960,3131371,3141550,3148618,3155070

### Task 8. Manipulating row and column labels

In [209]:
popDF.rename(columns = 
            {x : x[-4:] for x in statespopDF.columns[1:]}).head()

,Region,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Alabama,South,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185
Alaska,West,713910,722128,730443,737068,736283,737498,741456,739700,735139,731545
Arizona,West,6407172,6472643,6554978,6632764,6730413,6829676,6941072,7044008,7158024,7278717
Arkansas,South,2921964,2940667,2952164,2959400,2967392,2978048,2989918,3001345,3009733,3017804
California,West,37319502,37638369,37948800,38260787,38596972,38918045,39167117,39358497,39461588,39512223

### Anwer 8.i

In [320]:
popDF.rename(columns = 
            {x : x[0] + x[3:5] for x in popDF.columns[1:]}).head()

,Region,y10,y11,y12,y13,y14,y15,y16,y17,y18,y19,Rio,29_,29_,CV,mn2
Alabama,South,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185,South,0.003172,0.9900,0.007912,7.804669e+06
Alaska,West,713910,722128,730443,737068,736283,737498,741456,739700,735139,731545,West,-0.004889,1.0052,0.011668,6.026713e+06
Arizona,West,6407172,6472643,6554978,6632764,6730413,6829676,6941072,7044008,7158024,7278717,West,0.016861,0.9393,0.043586,6.026713e+06
Arkansas,South,2921964,2940667,2952164,2959400,2967392,2978048,2989918,3001345,3009733,3017804,South,0.002682,0.9866,0.010494,7.804669e+06
California,West,37319502,37638369,37948800,38260787,38596972,38918045,39167117,39358497,39461588,39512223,West,0.001283,0.9814,0.020558,6.026713e+06

### 8b. Create a new surrogate index (row labels) with value 0,1,2,…..

In [214]:
popDF_newindex = popDF.reset_index()

In [216]:
popDF_newindex

,index,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
0,Alabama,South,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185
1,Alaska,West,713910,722128,730443,737068,736283,737498,741456,739700,735139,731545
2,Arizona,West,6407172,6472643,6554978,6632764,6730413,6829676,6941072,7044008,7158024,7278717
3,Arkansas,South,2921964,2940667,2952164,2959400,2967392,2978048,2989918,3001345,3009733,3017804
4,California,West,37319502,37638369,37948800,38260787,38596972,38918045,39167117,39358497,39461588,39512223
5,Colorado,West,5047349,5121108,5192647,5269035,5350101,5450623,5539215,5611885,5691287,5758736
6,Connecticut,Northeast,3579114,3588283,3594547,3594841,3594524,3587122,3578141,3573297,3571520,3565287
7,Delaware,South,899593,907381,915179,923576,932487,941252,948921,956823,965479,973764
8,District of Columbia,NaN,605226,619800,634924,650581,662328,675400,685815,694906,701547,705749
9,Florida,South,18845537,19053237,19297822,19545621,19845911,20209042,20613477,20963613,21244317,21477737
10,Georgia,South,9711881,9802431,9901430,9972479,10067278,10178447,10301890,10410330,10511131,10617423
11,Hawaii,West,1363963,1379329,1394804,1408243,1414538,1422052,1427559,1424393,1420593,1415872
12,Idaho,West,1570746,1583910,1595324,1611206,1631112,1651059,1682380,1717715,1750536,1787065
13,Illinois,Midwest,12840503,12867454,12882510,12895129,12884493,12858913,12820527,12778828,12723071,12671821
14,Indiana,Midwest,6490432,6516528,6537703,6568713,6593644,6608422,6634304,6658078,6695497,6732219
15,Iowa,Midwest,3050745,3066336,3076190,3092997,3109350,3120960,3131371,3141550,3148618,3155070
16,Kansas,Midwest,2858190,2869225,2885257,2893212,2900475,2909011,2910844,2908718,2911359,2913314
17,Kentucky,South,4348181,4369821,4386346,4404659,4414349,4425976,4438182,4452268,4461153,4467673
18,Louisiana,South,4544532,4575625,4600972,4624527,4644013,4664628,4678135,4670560,4659690,4648794
19,Maine,Northeast,1327629,1328284,1327729,1328009,1330513,1328262,1331317,1334612,1339057,1344212
20,Maryland,South,5788645,5839419,5886992,5923188,5957283,5985562,6003323,6023868,6035802,6045680
21,Massachusetts,Northeast,6566307,6613583,6663005,6713315,6762596,6794228,6823608,6859789,6882635,6892503
22,Michigan,Midwest,9877510,9882412,9897145,9913065,9929848,9931715,9950571,9973114,9984072,9986857
23,Minnesota,Midwest,5310828,5346143,5376643,5413479,5451079,5482032,5522744,5566230,5606249,5639632
24,Mississippi,South,2970548,2978731,2983816,2988711,2990468,2988471,2987938,2988510,2981020,2976149
25,Missouri,Midwest,5995974,6010275,6024367,6040715,6056202,6071732,6087135,6106670,6121623,6137428
26,Montana,West,990697,997316,1003783,1013569,1021869,1030475,1040859,1052482,1060665,1068778
27,Nebraska,Midwest,1829542,1840672,1853303,1865279,1879321,1891277,1905616,1915947,1925614,1934408
28,Nevada,West,2702405,2712730,2743996,2775970,2817628,2866939,2917563,2969905,3027341,3080156
29,New Hampshire,Northeast,1316762,1320202,1324232,1326622,1333341,1336350,1342307,1348787,1353465,1359711
30,New Jersey,Northeast,8799446,8828117,8844942,8856972,8864525,8867949,8870827,8885525,8886025,8882190
31,New Mexico,West,2064552,2080450,2087309,2092273,2089568,2089291,2091630,2091784,2092741,2096829
32,New York,Northeast,19399878,19499241,19572932,19624447,19651049,19654666,19633428,19589572,19530351,19453561
33,North Carolina,South,9574323,9657592,9749476,9843336,9932887,10031646,10154788,10268233,10381615,10488084
34,North Dakota,Midwest,674715,685225,701176,722036,737401,754066,754434,754942,758080,762062
35,Ohio,Midwest,11539336,11544663,11548923,11576684,11602700,11617527,11634370,11659650,11676341,11689100
36,Oklahoma,South,3759944,3788379,3818814,3853214,3878187,3909500,3926331,3931316,3940235,3956971
37,Oregon,West,3837491,3872036,3899001,3922468,3963244,4015792,4089976,4143625,4181886,4217737
38,Pennsylvania,Northeast,12711160,12745815,12767118,12776309,12788313,12784826,12782275,12787641,12800922,12801989
39,Rhode Island,Northeast,1053959,1053649,1054621,1055081,1055936,1056065,1056770,1055673,1058287,1059361
40,South Carolina,South,4635649,4671994,4717354,4764080,4823617,4891938,4957968,5021268,5084156,5148714
41,South Dakota,Midwest,816166,823579,833566,842316,849129,853988,862996,872868,878698,884659
42,Tennessee,South,6355311,6399291,6453898,6494340,6541223,6591170,6646010,6708799,6771631,6829174
43,Texas,South,25241971,25645629,26084481,26480266,26964333,27470056,27914410,28295273,28628666,28995881
44,Utah,West,2775332,2814384,2853375,2897640,2936879,2981835,3041868,3101042,3153550,3205958
45,Vermont,Northeast,625879,627049,626090,626210,625214,625216,623657,624344,624358,623989
46,Virginia,South,8023699,8101155,8185080,8252427,8310993,8361808,8410106,8463587,8501286,8535519
47,Washington,West,6742830,6826627,6897058,6963985,7054655,7163657,7294771,7423362,7523869,7614893
48,West Virginia,South,1854239,1856301,1856872,1853914,1849489,1842050,1831023,1817004,1804291,1792147
49,Wisconsin,Midwest,5690475,5705288,5719960,5736754,5751525,5760940,5772628,5790186,5807406,5822434
50,Wyoming,West,564487,567299,576305,582122,582531,585613,584215,578931,577601,578759
51,Puerto Rico,NaN,3721525,3678732,3634488,3593077,3534874,3473232,3406672,3325286,3193354,3193694

In [217]:
popDF_newindex = popDF_newindex.set_index('index')

In [218]:
popDF_newindex

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
index,,,,,,,,,,,
Alabama,South,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185
Alaska,West,713910,722128,730443,737068,736283,737498,741456,739700,735139,731545
Arizona,West,6407172,6472643,6554978,6632764,6730413,6829676,6941072,7044008,7158024,7278717
Arkansas,South,2921964,2940667,2952164,2959400,2967392,2978048,2989918,3001345,3009733,3017804
California,West,37319502,37638369,37948800,38260787,38596972,38918045,39167117,39358497,39461588,39512223
Colorado,West,5047349,5121108,5192647,5269035,5350101,5450623,5539215,5611885,5691287,5758736
Connecticut,Northeast,3579114,3588283,3594547,3594841,3594524,3587122,3578141,3573297,3571520,3565287
Delaware,South,899593,907381,915179,923576,932487,941252,948921,956823,965479,973764
District of Columbia,NaN,605226,619800,634924,650581,662328,675400,685815,694906,701547,705749
Florida,South,18845537,19053237,19297822,19545621,19845911,20209042,20613477,20963613,21244317,21477737
Georgia,South,9711881,9802431,9901430,9972479,10067278,10178447,10301890,10410330,10511131,10617423
Hawaii,West,1363963,1379329,1394804,1408243,1414538,1422052,1427559,1424393,1420593,1415872
Idaho,West,1570746,1583910,1595324,1611206,1631112,1651059,1682380,1717715,1750536,1787065
Illinois,Midwest,12840503,12867454,12882510,12895129,12884493,12858913,12820527,12778828,12723071,12671821
Indiana,Midwest,6490432,6516528,6537703,6568713,6593644,6608422,6634304,6658078,6695497,6732219
Iowa,Midwest,3050745,3066336,3076190,3092997,3109350,3120960,3131371,3141550,3148618,3155070
Kansas,Midwest,2858190,2869225,2885257,2893212,2900475,2909011,2910844,2908718,2911359,2913314
Kentucky,South,4348181,4369821,4386346,4404659,4414349,4425976,4438182,4452268,4461153,4467673
Louisiana,South,4544532,4575625,4600972,4624527,4644013,4664628,4678135,4670560,4659690,4648794
Maine,Northeast,1327629,1328284,1327729,1328009,1330513,1328262,1331317,1334612,1339057,1344212
Maryland,South,5788645,5839419,5886992,5923188,5957283,5985562,6003323,6023868,6035802,6045680
Massachusetts,Northeast,6566307,6613583,6663005,6713315,6762596,6794228,6823608,6859789,6882635,6892503
Michigan,Midwest,9877510,9882412,9897145,9913065,9929848,9931715,9950571,9973114,9984072,9986857
Minnesota,Midwest,5310828,5346143,5376643,5413479,5451079,5482032,5522744,5566230,5606249,5639632
Mississippi,South,2970548,2978731,2983816,2988711,2990468,2988471,2987938,2988510,2981020,2976149
Missouri,Midwest,5995974,6010275,6024367,6040715,6056202,6071732,6087135,6106670,6121623,6137428
Montana,West,990697,997316,1003783,1013569,1021869,1030475,1040859,1052482,1060665,1068778
Nebraska,Midwest,1829542,1840672,1853303,1865279,1879321,1891277,1905616,1915947,1925614,1934408
Nevada,West,2702405,2712730,2743996,2775970,2817628,2866939,2917563,2969905,3027341,3080156
New Hampshire,Northeast,1316762,1320202,1324232,1326622,1333341,1336350,1342307,1348787,1353465,1359711
New Jersey,Northeast,8799446,8828117,8844942,8856972,8864525,8867949,8870827,8885525,8886025,8882190
New Mexico,West,2064552,2080450,2087309,2092273,2089568,2089291,2091630,2091784,2092741,2096829
New York,Northeast,19399878,19499241,19572932,19624447,19651049,19654666,19633428,19589572,19530351,19453561
North Carolina,South,9574323,9657592,9749476,9843336,9932887,10031646,10154788,10268233,10381615,10488084
North Dakota,Midwest,674715,685225,701176,722036,737401,754066,754434,754942,758080,762062
Ohio,Midwest,11539336,11544663,11548923,11576684,11602700,11617527,11634370,11659650,11676341,11689100
Oklahoma,South,3759944,3788379,3818814,3853214,3878187,3909500,3926331,3931316,3940235,3956971
Oregon,West,3837491,3872036,3899001,3922468,3963244,4015792,4089976,4143625,4181886,4217737
Pennsylvania,Northeast,12711160,12745815,12767118,12776309,12788313,12784826,12782275,12787641,12800922,12801989
Rhode Island,Northeast,1053959,1053649,1054621,1055081,1055936,1056065,1056770,1055673,1058287,1059361
South Carolina,South,4635649,4671994,4717354,4764080,4823617,4891938,4957968,5021268,5084156,5148714
South Dakota,Midwest,816166,823579,833566,842316,849129,853988,862996,872868,878698,884659
Tennessee,South,6355311,6399291,6453898,6494340,6541223,6591170,6646010,6708799,6771631,6829174
Texas,South,25241971,25645629,26084481,26480266,26964333,27470056,27914410,28295273,28628666,28995881
Utah,West,2775332,2814384,2853375,2897640,2936879,2981835,3041868,3101042,3153550,3205958
Vermont,Northeast,625879,627049,626090,626210,625214,625216,623657,624344,624358,623989
Virginia,South,8023699,8101155,8185080,8252427,8310993,8361808,8410106,8463587,8501286,8535519
Washington,West,6742830,6826627,6897058,6963985,7054655,7163657,7294771,7423362,7523869,7614893
West Virginia,South,1854239,1856301,1856872,1853914,1849489,1842050,1831023,1817004,1804291,1792147
Wisconsin,Midwest,5690475,5705288,5719960,5736754,5751525,5760940,5772628,5790186,5807406,5822434
Wyoming,West,564487,567299,576305,582122,582531,585613,584215,578931,577601,578759
Puerto Rico,NaN,3721525,3678732,3634488,3593077,3534874,3473232,3406672,3325286,3193354,3193694

In [219]:
popDF_newindex.drop(['y2010'], axis = 1, inplace = True, errors = "ignore")

### Answer 8 ii

In [222]:
# By using the parameter errors = ‘raise’, it will provide with an error if the drop column or row doesnt exists.

### Task 9. Columnar operations on the DF data

### 9a. Create a new column copied from Region column and change some of its values

In [223]:
popDF['RegionAll'] = popDF['Region']

In [227]:
bmask = popDF['RegionAll'].isna()

In [228]:
popDF.loc[bmask, ['Region', 'RegionAll']]

                     Region RegionAll
District of Columbia    NaN       NaN
Puerto Rico             NaN       NaN

### Answer 9.i

In [229]:
# True is the value of series bmask for the row with label ‘District of Columbia’.

### 9b. Change specific values in a column

In [231]:
popDF.loc['District of Columbia', 'RegionAll'] = 'DC'
popDF.loc['Puerto Rico', 'RegionAll'] = 'PR'
popDF.loc[bmask, ['Region', 'RegionAll']]

                     Region RegionAll
District of Columbia    NaN        DC
Puerto Rico             NaN        PR

### 9c. Sort the DataFrame

In [236]:
statespopDF.sort_values(['Region', 'y2010']).head()

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
North Dakota,Midwest,674715.0,685225.0,701176.0,722036.0,737401.0,754066.0,754434.0,754942.0,758080.0,762062.0
South Dakota,Midwest,816166.0,823579.0,833566.0,842316.0,849129.0,853988.0,862996.0,872868.0,878698.0,884659.0
Nebraska,Midwest,1829542.0,1840672.0,1853303.0,1865279.0,1879321.0,1891277.0,1905616.0,1915947.0,1925614.0,1934408.0
Kansas,Midwest,2858190.0,2869225.0,2885257.0,2893212.0,2900475.0,2909011.0,2910844.0,2908718.0,2911359.0,2913314.0
Iowa,Midwest,3050745.0,3066336.0,3076190.0,3092997.0,3109350.0,3120960.0,3131371.0,3141550.0,3148618.0,3155070.0

In [238]:
statespopDF.sort_values(['Region', 'y2010'], ascending = [False, True]).head()

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
Wyoming,West,564487.0,567299.0,576305.0,582122.0,582531.0,585613.0,584215.0,578931.0,577601.0,578759.0
Alaska,West,713910.0,722128.0,730443.0,737068.0,736283.0,737498.0,741456.0,739700.0,735139.0,731545.0
Montana,West,990697.0,997316.0,1003783.0,1013569.0,1021869.0,1030475.0,1040859.0,1052482.0,1060665.0,1068778.0
Hawaii,West,1363963.0,1379329.0,1394804.0,1408243.0,1414538.0,1422052.0,1427559.0,1424393.0,1420593.0,1415872.0
Hawaii,West,1363963.0,1379329.0,1394804.0,1408243.0,1414538.0,1422052.0,1427559.0,1424393.0,1420593.0,1415872.0

### Answer 9.ii

In [239]:
statespopDF.loc[:, ['Region', 'y2019']].sort_values(['Region', 'y2019'], ascending = [True, False]).head()

           Region       y2019
Illinois  Midwest  12671821.0
Ohio      Midwest  11689100.0
Michigan  Midwest   9986857.0
Indiana   Midwest   6732219.0
Missouri  Midwest   6137428.0

### Task 10. Computations on DF data: Math and stat operations

### 10a. Obtain summary information

In [241]:
popDF.info()

<class 'pandas.core.frame.DataFrame'>
Index: 52 entries, Alabama to Puerto Rico
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Region     50 non-null     object
 1   y2010      52 non-null     int32
 2   y2011      52 non-null     int32
 3   y2012      52 non-null     int32
 4   y2013      52 non-null     int32
 5   y2014      52 non-null     int32
 6   y2015      52 non-null     int32
 7   y2016      52 non-null     int32
 8   y2017      52 non-null     int32
 9   y2018      52 non-null     int32
 10  y2019      52 non-null     int32
 11  RegionAll  52 non-null     object
dtypes: int32(10), object(2)
memory usage: 5.3+ KB

In [242]:
popDF.describe()

,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
count,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01
mean,6.020061e+06,6.062223e+06,6.105105e+06,6.145900e+06,6.189152e+06,6.232854e+06,6.275923e+06,6.313670e+06,6.343863e+06,6.373716e+06
std,6.778446e+06,6.842115e+06,6.907269e+06,6.969339e+06,7.040326e+06,7.112407e+06,7.176089e+06,7.229217e+06,7.268729e+06,7.301997e+06
min,5.644870e+05,5.672990e+05,5.763050e+05,5.821220e+05,5.825310e+05,5.856130e+05,5.842150e+05,5.789310e+05,5.776010e+05,5.787590e+05
25%,1.764843e+06,1.776482e+06,1.788808e+06,1.793237e+06,1.794895e+06,1.794302e+06,1.793862e+06,1.792182e+06,1.790852e+06,1.790876e+06
50%,4.092836e+06,4.120928e+06,4.142674e+06,4.163564e+06,4.188796e+06,4.220884e+06,4.264079e+06,4.297946e+06,4.321520e+06,4.342705e+06
75%,6.610438e+06,6.666844e+06,6.721518e+06,6.775982e+06,6.835611e+06,6.913171e+06,7.029497e+06,7.138846e+06,7.249485e+06,7.362761e+06
max,3.731950e+07,3.763837e+07,3.794880e+07,3.826079e+07,3.859697e+07,3.891804e+07,3.916712e+07,3.935850e+07,3.946159e+07,3.951222e+07

### 10b. Performing math /scientific operations on the data

In [243]:
np.log(popDF['y2019']).sample(5)

Florida           16.882527
Maryland          15.614855
North Carolina    16.165750
Oklahoma          15.190989
Michigan          16.116780
Name: y2019, dtype: float64

In [244]:
np.add(popDF['y2018'], 1000).tail()

Washington       7524869
West Virginia    1805291
Wisconsin        5808406
Wyoming           578601
Puerto Rico      3194354
Name: y2018, dtype: int32

In [246]:
(popDF['y2018'].add(1000)).tail()

Washington       7524869
West Virginia    1805291
Wisconsin        5808406
Wyoming           578601
Puerto Rico      3194354
Name: y2018, dtype: int32

In [248]:
(popDF['y2018'] - (1000)).tail()

Washington       7522869
West Virginia    1803291
Wisconsin        5806406
Wyoming           576601
Puerto Rico      3192354
Name: y2018, dtype: int32

In [252]:
((popDF['y2019'] - popDF['y2018']) / popDF['y2018']*100).nsmallest(10)

West Virginia   -0.673062
Alaska          -0.488887
Illinois        -0.402812
New York        -0.393183
Hawaii          -0.332326
Louisiana       -0.233835
Connecticut     -0.174520
Mississippi     -0.163400
Vermont         -0.059101
New Jersey      -0.043158
dtype: float64

### Answer 10.i

In [256]:
(popDF['y2019']/(popDF['y2019'].max())).nlargest()

California      1.000000
Texas           0.733846
Florida         0.543572
New York        0.492343
Pennsylvania    0.324001
Name: y2019, dtype: float64

### 10c. Performing stats (aggregation) operations on the data

In [255]:
popDF.mean(axis = 0)

C:\Users\harma\AppData\Local\Temp/ipykernel_20064/3455043927.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  popDF.mean(axis = 0)

y2010    6.020061e+06
y2011    6.062223e+06
y2012    6.105105e+06
y2013    6.145900e+06
y2014    6.189152e+06
y2015    6.232854e+06
y2016    6.275923e+06
y2017    6.313670e+06
y2018    6.343863e+06
y2019    6.373716e+06
dtype: float64

In [257]:
popDF.loc[:, 'y2010':'y2019'].mean(axis = 0)

y2010    6.020061e+06
y2011    6.062223e+06
y2012    6.105105e+06
y2013    6.145900e+06
y2014    6.189152e+06
y2015    6.232854e+06
y2016    6.275923e+06
y2017    6.313670e+06
y2018    6.343863e+06
y2019    6.373716e+06
dtype: float64

In [258]:
popDF.loc[:, ['y2017','y2018','y2019']].idxmin(axis = 0)

y2017    Wyoming
y2018    Wyoming
y2019    Wyoming
dtype: object

In [259]:
popDF.loc[:, ['y2017','y2018','y2019']].idxmax(axis = 0)

y2017    California
y2018    California
y2019    California
dtype: object

In [260]:
popDF.corr()

,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
y2010,1.000000,0.999983,0.999924,0.999832,0.999661,0.999390,0.999045,0.998670,0.998250,0.997784
y2011,0.999983,1.000000,0.999978,0.999920,0.999791,0.999569,0.999269,0.998933,0.998551,0.998121
y2012,0.999924,0.999978,1.000000,0.999981,0.999904,0.999739,0.999494,0.999206,0.998870,0.998486
y2013,0.999832,0.999920,0.999981,1.000000,0.999969,0.999859,0.999666,0.999423,0.999130,0.998787
y2014,0.999661,0.999791,0.999904,0.999969,1.000000,0.999959,0.999835,0.999653,0.999416,0.999130
y2015,0.999390,0.999569,0.999739,0.999859,0.999959,1.000000,0.999957,0.999847,0.999677,0.999457
y2016,0.999045,0.999269,0.999494,0.999666,0.999835,0.999957,1.000000,0.999966,0.999868,0.999715
y2017,0.998670,0.998933,0.999206,0.999423,0.999653,0.999847,0.999966,1.000000,0.999968,0.999877
y2018,0.998250,0.998551,0.998870,0.999130,0.999416,0.999677,0.999868,0.999968,1.000000,0.999969
y2019,0.997784,0.998121,0.998486,0.998787,0.999130,0.999457,0.999715,0.999877,0.999969,1.000000

### Answer 10.ii

In [263]:
popDF.loc[:, 'y2015':'y2019'].mean(axis = 1).nlargest(5)

California      39283494.0
Texas           28260857.2
Florida         20901637.2
New York        19572315.6
Pennsylvania    12791530.6
dtype: float64

### Task 11. Create new computed columns

### 11a. Create a new column with the % change in population between 2018 and 2019

In [284]:
popDF['2019_pctg'] = (popDF['y2019'] - popDF['y2018'])/popDF['y2018']

### Answer 11.i

In [283]:
popDF['2019_5cagr'] = np.round((popDF['y2019']/popDF['y2014'])**((1/5)-1),4)
popDF.sample(5)

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019,RegionAll,2019_pctg,2019_5cagr
Oklahoma,South,3759944,3788379,3818814,3853214,3878187,3909500,3926331,3931316,3940235,3956971,South,0.004247,0.9840
West Virginia,South,1854239,1856301,1856872,1853914,1849489,1842050,1831023,1817004,1804291,1792147,South,-0.006731,1.0255
Florida,South,18845537,19053237,19297822,19545621,19845911,20209042,20613477,20963613,21244317,21477737,South,0.010987,0.9387
Iowa,Midwest,3050745,3066336,3076190,3092997,3109350,3120960,3131371,3141550,3148618,3155070,Midwest,0.002049,0.9884
Georgia,South,9711881,9802431,9901430,9972479,10067278,10178447,10301890,10410330,10511131,10617423,South,0.010112,0.9583

### 11b. More complex operations on data for which built-in functions may not exist – using DF.apply()

In [288]:
popDF[['y2019']].apply(lambda x : np.exp((x - x.mean())/x.std())).head()

                y2019
Alabama      0.817596
Alaska       0.461770
Arizona      1.131947
Arkansas     0.631544
California  93.529812

In [293]:
def expstandardize(x) :
    return np.exp((x - x.mean())/x.std())

In [294]:
popDF[['y2019']].apply(expstandardize).head()

                y2019
Alabama      0.817596
Alaska       0.461770
Arizona      1.131947
Arkansas     0.631544
California  93.529812

In [295]:
popDF[['y2018','y2019']].apply(expstandardize).head()

                y2018      y2019
Alabama      0.818456   0.817596
Alaska       0.462262   0.461770
Arizona      1.118523   1.131947
Arkansas     0.632108   0.631544
California  95.220181  93.529812

### Answer 11.ii

In [305]:
allcolumn = popDF.columns[1:11]
allcolumn

Index(['y2010', 'y2011', 'y2012', 'y2013', 'y2014', 'y2015', 'y2016', 'y2017',
       'y2018', 'y2019'],
      dtype='object')

In [322]:
popDF["CofV"] = popDF[['y2010', 'y2011', 'y2012', 'y2013', 'y2014', 'y2015', 'y2016', 'y2017',
       'y2018', 'y2019']].apply(lambda x : (x.std()/x.mean()), axis=1).head()
popDF.head()

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019,RegionAll,2019_pctg,2019_5cagr,CofV,mean2019Region
Alabama,South,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185,South,0.003172,0.9900,0.007912,7.804669e+06
Alaska,West,713910,722128,730443,737068,736283,737498,741456,739700,735139,731545,West,-0.004889,1.0052,0.011668,6.026713e+06
Arizona,West,6407172,6472643,6554978,6632764,6730413,6829676,6941072,7044008,7158024,7278717,West,0.016861,0.9393,0.043586,6.026713e+06
Arkansas,South,2921964,2940667,2952164,2959400,2967392,2978048,2989918,3001345,3009733,3017804,South,0.002682,0.9866,0.010494,7.804669e+06
California,West,37319502,37638369,37948800,38260787,38596972,38918045,39167117,39358497,39461588,39512223,West,0.001283,0.9814,0.020558,6.026713e+06

### 11c. Aggregation operations using DF.agg()

In [308]:
popDF[['y2019', 'y2018']].agg(['count', 'sum', 'min', 'max', 'mean'])

              y2019         y2018
count  5.200000e+01  5.200000e+01
sum    3.314332e+08  3.298809e+08
min    5.787590e+05  5.776010e+05
max    3.951222e+07  3.946159e+07
mean   6.373716e+06  6.343863e+06

In [310]:
popDF[['y2019', 'y2018']].agg({'y2019' : ['sum', 'count'], 'y2018' : ['var', 'std']})

             y2019         y2018
sum    331433217.0           NaN
count         52.0           NaN
var            NaN  5.283443e+13
std            NaN  7.268729e+06

In [311]:
popDF[['y2019', 'y2018']].agg({'y2019' : ['sum', 'count'], 'y2018' : ['var', 'std', np.min, np.max]})

             y2019         y2018
sum    331433217.0           NaN
count         52.0           NaN
var            NaN  5.283443e+13
std            NaN  7.268729e+06
amin           NaN  5.776010e+05
amax           NaN  3.946159e+07

### 11d. Performing grouping operations using DF.groupby()

In [314]:
popDF[['Region', 'y2010', 'y2019']].groupby(['Region']).mean().sort_values(['Region'])

                  y2010         y2019
Region
Midwest    5.581201e+06  5.694084e+06
Northeast  6.153348e+06  6.220311e+06
South      7.141341e+06  7.804669e+06
West       5.546187e+06  6.026713e+06

### Answer 11.iii

In [316]:
popDF['mean2019Region'] = (popDF[['Region', 'y2019']].groupby('Region').transform('mean'))
popDF.head()

,Region,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019,RegionAll,2019_pctg,2019_5cagr,CofV,mean2019Region
Alabama,South,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185,South,0.003172,0.9900,0.007912,7.804669e+06
Alaska,West,713910,722128,730443,737068,736283,737498,741456,739700,735139,731545,West,-0.004889,1.0052,0.011668,6.026713e+06
Arizona,West,6407172,6472643,6554978,6632764,6730413,6829676,6941072,7044008,7158024,7278717,West,0.016861,0.9393,0.043586,6.026713e+06
Arkansas,South,2921964,2940667,2952164,2959400,2967392,2978048,2989918,3001345,3009733,3017804,South,0.002682,0.9866,0.010494,7.804669e+06
California,West,37319502,37638369,37948800,38260787,38596972,38918045,39167117,39358497,39461588,39512223,West,0.001283,0.9814,0.020558,6.026713e+06